* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, .jambotron, footer {
  padding: 0 15%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3161e0;
  height: 50px;
}

header .menu ul {
  display: flex;
  list-style: none;
}

header .menu li {
  padding-left: 40px;
}

header .menu a {
  color: white;
}

main .jambotron {
  background-color: #7fa1f6;
  color: white;
  text-align: center;
  padding: 50px 20%;
}

main .jambotron h1 {
  padding-bottom: 30px;
}

main .jambotron p {
  padding-bottom: 15px;
}



